Repository Zenika/OZKOUR, pull requests merged in 2022-06, with the labels that each got.

#59 53 bug bouton generer flou
  ozkour-front/src/components/Buttons/GenerateBtn.vue
  ozkour-front/src/components/RecapModal.vue
  ozkour-front/tests/unit/GenerateBtn.spec.js
Labels: bug, frontend

#64 improve spacing between talk in slides
  ozkour-back/google-api/slide.js
Labels: backend, Google Slide

#62 61 modal reponse requete google slide
  ozkour-back/config/routes/talk.js
  ozkour-back/google-api/slide.js
  ozkour-front/src/components/RecapModal.vue
Labels: frontend, backend, Google Slide

#67 Back linter config
  .circleci/config.yml
  ozkour-back/.eslintrc.json
  ozkour-back/config/routes/error.js
  ozkour-back/config/routes/index.js
  ozkour-back/config/routes/talk.js
  ozkour-back/google-api/connect.js
  ozkour-back/google-api/sheets.js
  ozkour-back/google-api/slide.js
  ozkour-back/index.js
  ozkour-back/jest.config.js
  ozkour-back/package-lock.json
  ozkour-back/package.json
  ozkour-back/tests/sheets.test.js
  ozkour-back/tests/slide.test.js
  ozkour-back/tests/utilitary.test.js
  ozkour-back/utilitary.js
  ozkour-front/src/components/RecapModal.vue
  ozkour-front/tests/unit/GenerateBtn.spec.js
Labels: backend

#66 50 style template google slide
  ozkour-back/google-api/slide.js
  ozkour-front/src/components/Buttons/GenerateBtn.vue
  ozkour-front/src/components/RecapModal.vue
Labels: backend, Google Slide

#73 72 bug merge style template
  ozkour-back/google-api/slide.js
Labels: bug, backend, Google Slide

#74 Clean code
  ozkour-front/.eslintrc.json
  ozkour-front/package-lock.json
  ozkour-front/package.json
  ozkour-front/src/api/apiConfig.js
  ozkour-front/src/components/Buttons/GenerateBtn.vue
  ozkour-front/src/components/Buttons/PrimaryBtn.vue
  ozkour-front/src/components/ChoosingDate.vue
  ozkour-front/src/components/RecapModal.vue
  ozkour-front/src/stores/talks.js
  ozkour-front/src/views/TalkForm.vue
  ozkour-front/tests/unit/GenerateBtn.spec.js
  ozkour-front/tests/unit/TestPopUp.spec.js
  ozkour-front/tests/unit/TestStore.spec.js
  ozkour-front/tests/unit/TestTalkForm.spec.js
  ozkour-front/tests/unit/__snapshots__/TestPopUp.spec.js.snap
Labels: frontend, refactoring
